@model List<SheetModel>
<h1>ImportData</h1>
<br />
@if (Model != null && Model.Count > 0)
{
    <p>Columns detected</p>
    <table>
        @foreach (var item in Model.First().Columns.Keys)
        {
            <tr>
                <th> @item.Replace("\"", "") </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = @item }) |
                    @Html.ActionLink("Drop", "Delete", new { id = @item })
                </td>
            </tr>
        }
    </table>
    <br />
    <p>
        @Html.ActionLink("Save", "Save")
    </p>
    <br />
    <br />
    <p>Data</p>
    <table>
        <tr>
            @foreach (var item in Model.First().Columns.Keys)
            {
                <th>@item.Replace("\"", "")</th>
            }
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                @foreach (var item in m.Columns)
                {
                    <td>@item.Value.ToString().Replace("\"", "")</td>
                }
            </tr>
        }
    </table>
}